{% extends "index_layout.html" %}

{% block title %}Contact Members - Email{% endblock title %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email.css')}}" />
{% endblock head %}

{% block manager %}
<div class="container">
    <div class="row">
      <div class="col md-12">

        <div class="jumbotron p-3">

            <h3 class="with-margin">Emailing Members
            </h3>

            <div class="notice">
                {% with messages = get_flashed_messages() %}
                 {% if messages %}
                       {% for message in messages %}
                            <p class="message">{{ message }}</p>
                       {% endfor %}
                 {% endif %}
                {% endwith %}
            </div>

                <form action="{{url_for('contact_members_email')}}" method="POST">  
                                                            
                    <div class="form-group row overflow-auto">
                        <label for="recipients" class="col-sm-2 col-form-label with-margin">Recipients</label>
                        <div class="col-sm-10">                            
                            <input type="email" readonly class="form-control with-margin " id="recipientslist" 
                            name="recipientslist" value="{{recipientslist}}"/>
                        </div>
                    </div> 
                </form>

                <form action="{{url_for('contact_members_send_email')}}" method="POST">  

                    <div class="form-group row">
                        <label for="sender" class="col-sm-2 col-form-label with-margin">Sender</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control with-margin" id="sender" 
                            name="sender" value="esangkop@gmail.com"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="subject" class="col-sm-2 col-form-label with-margin">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control with-margin" id="subject" 
                            name="subject"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="message" class="col-sm-2 col-form-label">Message</label>
                        <textarea class="form-control with-margin" id="message" name="message" rows="3"></textarea>
                    </div>

                    <div class="text-center">
                            <a type="button" class="btn btn-dark btn-sm" href="{{ url_for('contact_members') }}">Back</a>
                            <button class="btn btn-dark btn-sm" id="send_email" \
                            name="#navbarSupportedContent" onclick="location.href='/contact_members/send_email';">Send email</button>
                            <button class="btn btn-dark btn-sm" type="button" onclick="location.href='/contact_members';">Cancel</button>
                    </div>
            
            </form>

        </div>
      </div>
    </div> 
</div>

{% block js %}
<script type="text/javascript">
    
    var btn = document.getElementById('send_email')
    btn.onclick = function() {

        if (confirm("Are you sure you want to send this email?")) {
            btn.type = "submit"
        }
    }

</script>

{% endblock js %}

{% endblock%}