{% extends "index_layout.html" %}

{% block title %}Group Class Attendance Report{% endblock title %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email.css')}}" />
{% endblock head %}

{% block manager %}
<div class="container">
    <div class="row">
      <div class="col md-12">

        <div class="jumbotron p-3">

          <h3 class="with-margin">Group Class Attendance Report</h3>

          <p>Group class attendance for the period: {{start_date}} to {{end_date}}</p>
        
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col"></th>
                      {% for row in boxfit_attendance %}
                      <th scope="col" class="text-end">{{ row[2] }} {{ row[0] }}</th>
                      {% endfor %}
                      <th scope="col" class="text-end">Total</th>
                  </tr>
              </thead>

              <tbody>
                <tr>
                    <th scope="row">BOX FIT</th>
                    
                    {% for row in boxfit_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ boxfit_total_attendance[0] }}</td>
                </tr>
                <tr>
                    <th scope="row">Body Combat</th>
                    {% for row in bodycombat_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ bodycombat_total_attendance[0] }}</td>
                </tr>

                <tr>
                    <th scope="row">Grit Cardio</th>
                    {% for row in gritcardio_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ gritcardio_total_attendance[0] }}</td>
                </tr>

                <tr>
                    <th scope="row">Sprint</th>
                    {% for row in sprint_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ sprint_total_attendance[0] }}</td>
                </tr>

                <tr>
                    <th scope="row">Yoga</th>
                    {% for row in yoga_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ yoga_total_attendance[0] }}</td>
                </tr>

                <tr>
                    <th scope="row">Total</th>
                    {% for row in total_attendance %}
                    <td class="text-end">{{ row[3] }}</td>
                    {% endfor %}
                    <td class="text-end">{{ grand_total_attendance[0] }}</td>
                </tr>


              </tbody>


          </table>



{% endblock%}