{% extends "index_layout.html" %}
{% block title %}

{% endblock%}
{% block head%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payment_information.css')}}" />

{% endblock %}

{% block content %}
<h1>Lincoln GYM--Payment Information</h1>

<div id="div1" >
    <div id = "paymentmemberid_d" class="inforpay">
        <label for = "paymentmemberid" class ="paymentmemberid">Member ID: </label>
        <input type = "hidden" id = "paymentmemberid" name = "paymentmemberid" class ="paymentmemberid">{{Member_id_display}}</input> 
    </div>

    <div id = "paymentmembername_d" class="inforpay">
        <label for = "paymentmembername" class ="paymentmembername">Member Name: </label>
        <input type = "hidden" id = "paymentmembername" name = "paymentmembername" class ="paymentmembername">{{name_display}}</input> 
    </div>

    <div id = "lastpaydate_d" class="inforpay">
        <label for = "lastpaydate" class ="lastpaydate">Last Payment Date: </label>
        <input type = "hidden" id = "lastpaydate" name = "lastpaydate" class ="lastpaydate">{{lastdate[0:10]}}</input> 
    </div>

    <div id = "paymenttype_d" class="inforpay">
        <label for = "paymenttype" class ="paymenttype">Payment Type: </label>
        <input type = "hidden" id = "paymenttype" name = "paymenttype" class ="paymenttype">{{membershiptype_result}}</input> 
    </div>


    <div id = "paymentduedate_d" class="inforpay">
        <label for = "paymentduedate" class ="paymentduedate">Payment Due Date: </label>
        <input type = "hidden" id = "paymentduedate" name = "paymentduedate" class ="paymentduedate">{{duedate}}</input> 
    </div>

    <div id = "membershipremainedday_d" class="inforpay">
        <label for = "membershipremainedday" class ="membershipremainedday">Remained: </label>
        <input type = "hidden" id = "membershipremainedday" name = "membershipremainedday" class ="membershipremainedday">{{remained_day}}</input> 
    </div>

    <div id = "paymentoutstanding_d" class="inforpay">
        <label for = "paymentoutstanding" class ="paymentoutstanding">Payment Outstanding: </label>
        <input type = "hidden" id = "paymentoutstanding" name = "paymentoutstanding" class ="paymentoutstanding">
        $ {%if payment_info[1] %}{{payment_info[1]}} {% else%}0.0{%endif%}</input> 
    </div>

    <div id = "balanceamount_d" class="inforpay">
        <label for = "balanceamount" class ="balanceamount">Balance: </label>
        <input type = "hidden" id = "balanceamount" name = "balanceamount" class ="balanceamount" value={{payment_info[0]}}/>
        $ {%if payment_info[0] %}{{payment_info[0]}} {% else%}0.0{%endif%}
    </div>


    <div class="paybutton">
        <a href="/membershippay">
            <button type="button" class="btn btn-outline-dark submit">Pay here</button>
        </a>
   </div>  
</div>



{% endblock %}
